.skud {
	padding:5px;
	background-color: #1e1e1e;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
}
.skud .bg-black  {
	background-color: #000000 !important;
}
.skud .bg-darkRed  {
	background-color: #9a1616 !important;
}

.skud .bg-green  {
	background-color: #009900 !important;
}		

.skud .bg-orange  {
	background-color: #fa6800 !important;
}

.skud .bg-dark  {
	background-color: #333333 !important;
}
.skud .opacity {
	opacity: .8;
}
.skud .br-white{
	border: 1px #ffffff solid ;
}

.skud .br-green{
	border: 2px #00ff00 solid ;
}

.skud .br-darkRed{
	border: 2px #9a1616 solid ;
}	
.skud .br-red{
	border: 1px #e51400 solid ;
}		
.skud .br-orange  {
	border: 1px #fa6800 solid ; 
}
.skud .fg-white {
	color: #eeeeee;
}
.skud .fg-black {
	color: #000000;
}		

.skud .padding-big {
	padding: 8px;
}	
.skud .padding-none {
	padding: 0px;
}	

.skud .title {
	position:absolute;
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	top: 2px;
	left: 0px;
	width: 100%;
	color:#00FF00;
	
}

.skud .inner {
	position:relative;
	text-align:center;
	width: auto;
}

.skud .first-photo {
	width: 230px;
	height: 292px;
	padding: 0;
	margin: 0;
	display: block;
	position: absolute;
	left: 500px;
	top: 41px;
	overflow: hidden;
}
.skud .first-photo .container{
	width: 100%;
	height: 100%;
}
.skud .image {
	width: 100%;
	height: 100%;
	background: url(../image/empty.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0px 0px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.skud .first-photo .content {
	padding: 4px;
	font-size: 16px;
	line-height: 16px;
	text-align:left;
	width: inherit;
	bottom: 0;
	position: absolute;
}
.skud .first-photo .brand {
	padding: 2px;
	font-size: 18px;
	text-align:center;
	font-weight: bold;
	width: 45px;
	height: 25px;
	left: 170px;
	top: 0px;
	position: absolute;
	display: block;
}		
.skud .second-photo {
	width: 125px;
	height: 142px;
	padding: 0;
	margin: 0;
	display: block;
	position: absolute;
	left: 770px;
	top: 41px;
	overflow: hidden;
}
.skud .second-photo .content {
	padding: 4px;
	font-size: 16px;
	line-height: 14px;
	text-align:left;
	width: inherit;
	bottom: 0;
	position: absolute;
}
.skud .second-photo .brand {
	font-size: 12px;
	text-align:center;
	width: 32px;
	height: 20px;
	left: 85px;
	top: 0px;
	position: absolute;
	display: block;
	font-weight:bold;
}		

.skud .photo1{
	left: 230px;
}
.skud .photo2{
	left: 290px;
}	
.skud .photo3{
	left: 350px;
}	
.skud .photo4{
	left: 410px;
}	